*{
	margin: 0;
	padding: 0;
}
body{
	display: block;
	font-family: Tahoma, Verdana, sans-serif;
}
.game{
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	padding: 20px;
	width: 1000px;
}
.game__own, .game__opponent{
	
}
.field{
	position: relative;
}
.field__container{
	margin-left: 40px;
	display: grid;
	grid-template-columns: repeat(10,40px);
	grid-template-rows: repeat(10,40px);
	border-collapse: collapse;
}
.field__cell{
	position:relative;
	border: 1px solid rgba(114, 158, 230, 0.5);
}
.field__cell,.words__cell,.numbers__cell{
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	
}	
.words{
	display: flex;
	margin-left: 40px;
}
.numbers{
	position: absolute;
	left: 0;
	top: 40px;
	flex-direction: none;
}

.ship{
	position:absolute;
	left: -2px;
	top: -1px;
	width: 42px;
	height: 42px;
	box-sizing: border-box;
	border: 2px solid red;
	background: rgba(66,135,245, 0.5);
	z-index: 2;
}
.hit{
	display: inline-block;
	width: 30px;
	height: 30px;  
	color: #ff0000;
	font-weight: bold;
	z-index: 3;
}
.hit__cross{
	width: 30px;
	height: 30px;
	fill:  #ff0000;
	enable-background:new 0 0 30 30; 
	fill: #ff0000;
}

