*{
	margin: 0;
	padding: 0;
}
body{
	display: block;
	font-family: Tahoma, Verdana, sans-serif;
	min-height: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url('../img/background.jpg');
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../img/background.jpg');
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

.header,.message,.nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 20px;
	font-weight: 600;
	font-size: 35px;
	letter-spacing: 30px;
	color: #ffffff;
	width: 100%;
	min-width: 1000px;
}
.message, .nav{
	padding: 0;
	font-size: 25px;
	letter-spacing: 5px;
	color: #ff0000
}
.nav{
	font-size: 16px;
}
.message{
	text-align: center;
}
.message::first-letter{
	text-transform: uppercase;
}
.score{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 25px;
	width: 1040px;
	margin: 30px auto 0;
	height: 30px;
	color: #ffffff;
}
.score__own, .score__opponent{
	display: inline-block;
	width: 200px;
	margin: 0 50px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	text-transform: lowercase;
	white-space: nowrap;
}
.score__own::first-letter, .score__opponent::first-letter{
	text-transform: uppercase;
}
.score__number{
	margin: 0 5px;
}
.score__opponent{
	text-align: right;
}
.game{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 20px auto 0;
	padding: 20px;
	width: 1000px;
}
.game__own, .game__opponent{
	background: rgb(255,255,255, 0.8);
	padding-right: 35px;
	padding-bottom: 35px;
}
.game__setting{
	width: 424px;
}
.game__setting_none{
	display: none;
}
.form{
	height: 100%;
	width: 350px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}
.form__title{
	margin-bottom: 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
}
.form__title_top{
	margin-top: 20px;
}
.form__input{
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 5px;
	font-size: 16px;
	height: 40px;
	width: 100%;
	margin-bottom: 15px;
	border: 2px solid #729ee6;
	outline: none;	
}
.form__input:focus{
	border-color: #1803ff;
}
.form__input_opponent{
	margin-bottom: 50px;
}
.form__change,.form__start,.nav__continue,.nav__replay,.nav__exit{
	display: block;
	width: 100%;
	background: #ffffff;
	height: 40px;
	border: 2px solid #729ee6; 
	color: #729ee6;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	-webkit-transition: color 0.5s ease, border-color 0.5s ease;
	-o-transition: color 0.5s ease, border-color 0.5s ease;
	transition: color 0.5s ease, border-color 0.5s ease;
} 
.nav__continue,.nav__replay,.nav__exit{
	display: inline-block;
	margin: 20px 30px 0;
	width: 200px;
}
.form__change:hover, .form__start:hover, .nav__continue:hover, .nav__replay:hover, .nav__exit:hover{
	border-color: #1803ff; 
	color: #1803ff;
}
.form__start{
	position: absolute;
	bottom: 0;
	left: 0;
}

/* #1803ff */


.form__start{
	margin-top: 20px;
}

.field{
	position: relative;
}
.field__container{
	margin-left: 35px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (35px)[10];
	grid-template-columns: repeat(10,35px);
	-ms-grid-rows: (35px)[10];
	grid-template-rows: repeat(10,35px);
	border-collapse: collapse;
	border: 2px solid rgba(114, 158, 230);
}
.field__container > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(4){
	-ms-grid-row: 1;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(5){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(6){
	-ms-grid-row: 1;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(7){
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(8){
	-ms-grid-row: 1;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(9){
	-ms-grid-row: 1;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(10){
	-ms-grid-row: 1;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(11){
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(12){
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(13){
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(14){
	-ms-grid-row: 2;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(15){
	-ms-grid-row: 2;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(16){
	-ms-grid-row: 2;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(17){
	-ms-grid-row: 2;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(18){
	-ms-grid-row: 2;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(19){
	-ms-grid-row: 2;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(20){
	-ms-grid-row: 2;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(21){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(22){
	-ms-grid-row: 3;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(23){
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(24){
	-ms-grid-row: 3;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(25){
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(26){
	-ms-grid-row: 3;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(27){
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(28){
	-ms-grid-row: 3;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(29){
	-ms-grid-row: 3;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(30){
	-ms-grid-row: 3;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(31){
	-ms-grid-row: 4;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(32){
	-ms-grid-row: 4;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(33){
	-ms-grid-row: 4;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(34){
	-ms-grid-row: 4;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(35){
	-ms-grid-row: 4;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(36){
	-ms-grid-row: 4;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(37){
	-ms-grid-row: 4;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(38){
	-ms-grid-row: 4;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(39){
	-ms-grid-row: 4;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(40){
	-ms-grid-row: 4;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(41){
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(42){
	-ms-grid-row: 5;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(43){
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(44){
	-ms-grid-row: 5;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(45){
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(46){
	-ms-grid-row: 5;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(47){
	-ms-grid-row: 5;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(48){
	-ms-grid-row: 5;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(49){
	-ms-grid-row: 5;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(50){
	-ms-grid-row: 5;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(51){
	-ms-grid-row: 6;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(52){
	-ms-grid-row: 6;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(53){
	-ms-grid-row: 6;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(54){
	-ms-grid-row: 6;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(55){
	-ms-grid-row: 6;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(56){
	-ms-grid-row: 6;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(57){
	-ms-grid-row: 6;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(58){
	-ms-grid-row: 6;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(59){
	-ms-grid-row: 6;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(60){
	-ms-grid-row: 6;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(61){
	-ms-grid-row: 7;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(62){
	-ms-grid-row: 7;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(63){
	-ms-grid-row: 7;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(64){
	-ms-grid-row: 7;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(65){
	-ms-grid-row: 7;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(66){
	-ms-grid-row: 7;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(67){
	-ms-grid-row: 7;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(68){
	-ms-grid-row: 7;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(69){
	-ms-grid-row: 7;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(70){
	-ms-grid-row: 7;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(71){
	-ms-grid-row: 8;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(72){
	-ms-grid-row: 8;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(73){
	-ms-grid-row: 8;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(74){
	-ms-grid-row: 8;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(75){
	-ms-grid-row: 8;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(76){
	-ms-grid-row: 8;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(77){
	-ms-grid-row: 8;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(78){
	-ms-grid-row: 8;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(79){
	-ms-grid-row: 8;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(80){
	-ms-grid-row: 8;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(81){
	-ms-grid-row: 9;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(82){
	-ms-grid-row: 9;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(83){
	-ms-grid-row: 9;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(84){
	-ms-grid-row: 9;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(85){
	-ms-grid-row: 9;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(86){
	-ms-grid-row: 9;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(87){
	-ms-grid-row: 9;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(88){
	-ms-grid-row: 9;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(89){
	-ms-grid-row: 9;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(90){
	-ms-grid-row: 9;
	-ms-grid-column: 10;
}
.field__container > *:nth-child(91){
	-ms-grid-row: 10;
	-ms-grid-column: 1;
}
.field__container > *:nth-child(92){
	-ms-grid-row: 10;
	-ms-grid-column: 2;
}
.field__container > *:nth-child(93){
	-ms-grid-row: 10;
	-ms-grid-column: 3;
}
.field__container > *:nth-child(94){
	-ms-grid-row: 10;
	-ms-grid-column: 4;
}
.field__container > *:nth-child(95){
	-ms-grid-row: 10;
	-ms-grid-column: 5;
}
.field__container > *:nth-child(96){
	-ms-grid-row: 10;
	-ms-grid-column: 6;
}
.field__container > *:nth-child(97){
	-ms-grid-row: 10;
	-ms-grid-column: 7;
}
.field__container > *:nth-child(98){
	-ms-grid-row: 10;
	-ms-grid-column: 8;
}
.field__container > *:nth-child(99){
	-ms-grid-row: 10;
	-ms-grid-column: 9;
}
.field__container > *:nth-child(100){
	-ms-grid-row: 10;
	-ms-grid-column: 10;
}
.field__cell{
	position:relative;
	border: 1px solid rgba(114, 158, 230, 0.5);
}
.field__cell,.words__cell,.numbers__cell{
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 35px;
	height: 35px;
}	
.field__cell_border{
	border: 2px solid #ff0000;
}
.words__cell,.numbers__cell{
	color: #1803ff;
	font-weight: bold;
	font-size: 16px;
}
.words{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 35px;
}
.numbers{
	position: absolute;
	left: 0;
	top: 35px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: none;
	        flex-direction: none;
}

.ship{
	position:absolute;
	left: -2px;
	top: -1px;
	width: 42px;
	height: 42px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 2px solid #1803ff;
	background: rgba(66,135,245, 0.3);
	z-index: 1;
}
.pinpoint,.forbidden{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: inline-block;
	width: 30px;
	height: 30px;  
	background: url(../img/cross.png) no-repeat center center/cover;
	z-index: 1;
}
.pinpoint__cross{
	width: 30px;
	height: 30px;
	fill:  #ff0000;
	enable-background:new 0 0 30 30; 
	z-index: 3;
}
.muff{
	width: 10px;
	height: 10px;
	fill: #403c3b;   
	z-index: 1;
}
.forbidden{
	background: url(../img/forbidden.png) no-repeat center/cover;
	z-index: 3;
}
{

}

.show_right {
  -webkit-animation-name: animate_right;
  animation-name: animate_right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes animate_right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animate_right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.show_left{
	-webkit-animation-name: animate_left;
  animation-name: animate_left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes animate_left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animate_left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 1050px) {
	body{
		overflow-x: auto;
	}
	.header,.score,.message{
		width: 500px;
		min-width: auto;
	}
	.header,.message{
		margin: 20px auto;
		font-size: 20px;
	}
	.game{
		width: 500px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.form{
		margin-top: 30px;
		width: 100%;
		text-align: center;
	}
	.form__start{
		position: static;
	}
	.show_right, .show_left{
		-webkit-animation-duration: 0s;
		        animation-duration: 0s;
	}
	.score__own, .score__opponent{
		margin: 0;
	}
}